# PyHR Services Data Cleanup and Exploration

### Introduction 
This notebook contains the clean up and exploration for PyHR Services, human resources business process outsourcing (BPO) services and consulting.The notebook looks at the inconsistencies in the columns caused by  typos, missing data, and other anomalies. The result is a re-organized CSV file that has data ready for analysis.

### Data Extraction 
* The PyHR Services data comes from HRPy ticket system.
* Data Provided: 
    *Data Provided
    *Case ID
    *Company Region
    *Status
    *Source
    *Creator
    *Current Agent
    *Creation Date
    *Creation Year
    *Due Date
    *Closed Date Service Group
    *Service Pended Date
    *Pending Reason
    *Latest Communicated Date
    *Latest Communication to User Group
    *Last Transfer Date Type
    *Service Center Case Age (in days)
    *Days From Latest Communication
    *Days From Last Transfer 
    *Systems 
    *Requestor

In [15]:
# Import Dependencies
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt
import csv
import requests

In [16]:
  # File to Load 
ticket_data = "Resources//ticket_data.csv"
  # Read the Ticket file and store Pandas data frame
df_ticket = pd.read_csv(ticket_data)
   # Print out in the window
df_ticket.head()

,Case ID,Company,Region,Status,Source,Creator,Current Agent,Creation Date,Due Date,Closed Date,...,User Group,Last Transfer Date,Type,Service Center,Case Age (in days),Days From Latest Communication,Days From Last Transfer,Systems,Requestor,Unnamed: 25
0,8111665,AU,APAC,Closed,e-mail,E-mail Processor MyHRW,MYHRW_JuliusB,11/05/18 22:07,11/20/18 21:00,11/16/18 07:45,...,Vendor_T1,NaN,Case,Manila,8.38,0.0,0.0,NaN,Business Partner,NaN
1,8111974,AU,APAC,Closed,e-mail,E-mail Processor MyHRW,MyHRW_AdamSu,11/05/18 23:00,11/13/18 22:01,11/05/18 23:21,...,Vendor_T1,NaN,Case,Manila,0.00,0.0,0.0,Payroll Exchange,Employee,NaN
2,8112663,AU,APAC,Closed,e-mail,E-mail Processor MyHRW,MyHRW_AdamSu,11/06/18 04:18,11/07/18 22:01,11/06/18 04:52,...,Vendor_T1,NaN,Case,Manila,0.00,0.0,0.0,NaN,Business Partner,NaN
3,8112727,AU,APAC,Closed,Interface,Adam Suanico,MyHRW_AdamSu,11/06/18 04:58,11/08/18 22:01,11/06/18 05:04,...,Vendor_T1,NaN,Case,Manila,0.04,0.0,0.0,Workday,Employee,NaN
4,8112910,AU,APAC,Closed,e-mail,E-mail Processor MyHRW,MYHRW_JuliusB,11/06/18 06:06,11/13/18 22:01,11/06/18 07:31,...,Vendor_T1,NaN,Case,Manila,0.04,0.0,0.0,NaN,Employee,NaN

## Initial Data Exploration 

On an initial exploration of the data, we some missing columns: * Region, *Closed Date, *Pended Date, *Pending Reason, *Latest Communicated Date, *Latest Communication to, *User Group, *Last Transfer Date, *Days From Latest Communication, *Days From *Last Transfer, *System, *Request Type.

It does not necessarily mean that all the data is not present, sometimes it just needs to be extracted and reformatted, sometimes is not applicable. Currently, there are 64687 rows of information and 25 columns.

In [17]:
# Count rows and columns 
df_ticket.shape

(64689, 26)

In [18]:
# Check for missing values 
df_ticket.count()

Case ID                           64688
Company                           64688
Region                            29354
Status                            64686
Source                            64686
Creator                           64686
Current Agent                     64685
Creation Date                     64686
Due Date                          64686
Closed Date                       62336
Service Group                     64686
Service                           64686
Pended Date                         662
Pending Reason                      844
Latest Communicated Date          18034
Latest Communication to               0
User Group                        57883
Last Transfer Date                    0
Type                              64686
Service Center                    64686
Case Age (in days)                64686
Days From Latest Communication    62737
Days From Last Transfer           61688
Systems                            8125
Requestor                         64259
Unnamed: 25                        1248
dtype: int64

## Initial Data Clean Up

In this section...

In [36]:
# Check the data frame size after dropping the rows
df_bike_clean.shape

(990500, 15)

## Reorganized and Updated Data Frame

After the initial exploration of the data and clean up...

In [46]:
# Export to csv