##  Dependencies and Setup

In [1]:
  # Importing library
%matplotlib inline

In [2]:
  # Importing external packages
import requests
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

In [3]:
  # File to Load 
ticket_data = "output_data//cleansed_dataframe.xlsx"

In [4]:
  # Read the Ticket file and store Pandas data frame
df_ticket_cl = pd.read_excel(ticket_data)

# Print out in the window
df_ticket_cl.head()

,Case ID,Company,Region,Status,Source,Current Agent,Creation Date,Due Date,Closed Date,Service Group,...,Creation Year,Creation Month,Creation Day,Due_Date,Due Time,Due Year,Due Month,Due Day,Closed_Date,Closed Time
0,8111665,AU,APAC,Closed,E-mail,MYHRW_JuliusB,11/05/18 22:07,11/20/18 21:00,11/16/18 07:45,MyHRW,...,2018,11,5,2018-11-20,21:00:00,2018,11,20,2018-11-16,07:45:00
1,8111974,AU,APAC,Closed,E-mail,MyHRW_AdamSu,11/05/18 23:00,11/13/18 22:01,11/05/18 23:21,MyHRW,...,2018,11,5,2018-11-13,22:01:00,2018,11,13,2018-11-05,23:21:00
2,8112663,AU,APAC,Closed,E-mail,MyHRW_AdamSu,11/06/18 04:18,11/07/18 22:01,11/06/18 04:52,MyHRW,...,2018,11,6,2018-11-07,22:01:00,2018,11,7,2018-11-06,04:52:00
3,8112727,AU,APAC,Closed,Interface,MyHRW_AdamSu,11/06/18 04:58,11/08/18 22:01,11/06/18 05:04,MyHRW,...,2018,11,6,2018-11-08,22:01:00,2018,11,8,2018-11-06,05:04:00
4,8112910,AU,APAC,Closed,E-mail,MYHRW_JuliusB,11/06/18 06:06,11/13/18 22:01,11/06/18 07:31,MyHRW,...,2018,11,6,2018-11-13,22:01:00,2018,11,13,2018-11-06,07:31:00

### Yearly Count

The following graph has a year by year breakdown of tickets. Add analysis...

In [5]:
# Get the total number of tickets by Year 
df_ticket_cl = df_ticket_cl.groupby('Creation Year')
number_of_tickets_per_year = df_ticket_cl['Company'].count()
tickets_per_year_df = pd.DataFrame(data = number_of_tickets_per_year,index = None).reset_index()
tickets_per_year_df = tickets_per_year_df.rename(columns = {"Creation Year":"Year","Company":"Total Number of Tickets"})
  # Print out in the window
print(tickets_per_year_df)
# Tells matplotlib that we want to make a line graph 
total_tickets_per_year_chart = number_of_tickets_per_year.plot(kind = "line",grid=True,marker='^',title = "Tickets per Year",figsize = (10.5))                                                                                                             
total_tickets_per_year_chart.set_xlabel("Year")
total_tickets_per_year_chart.set_ylabel("Total Ticket per Year")
plt.text(2018.5,250000,"There is an increase in the usage of HRServices. ",bbox=dict(facecolor='green',alpha =0.75))
  # Save Figure
#plt.savefig("Images/1_Tickets_per_Year.png",bbox_inches = "tight")
  # Print out in the window
#plt.show()

   Year  Total Number of Tickets
0  2018                    39519
1  2019                    25167

###  Monthly count

The following graph has a month by month breakdown. Add analysis..

In [6]:
    # Month by month breakdown declare DataFrame
df_month = df_ticket_cl.loc[(df_ticket_cl["Creation Year"] >= 2017) & (df_ticket_cl["Creation Year"] <= 2020),:]
df_ticket_month = df_month ['Creation Month'].value_counts()
    # Print out in the window
print(df_ticket_months)
  
#     #  Tells matplotlib that we want to make graph with months on X-axis and total number of tickets on Y-axis
#     #  Formatting  importing python library Calendar to convert from month index to a month name
# import calendar
# mn=[calendar.month_name[int(x)] for x in df_ticket_month.index.values.tolist()]
#     #  Add title, x axis label and y axis label.
# ticket_chart = df_ticket_month.plot.bar(title = "Total Tickets per Month ",width = 0.75,figsize = (10,5),rot = 30,alpha = 0.75 )
# ticket_chart.set_xticklabels(mn)
# ticket_chart.set_xlabel("Tickets Months")
# ticket_chart.set_ylabel("Total Tickets Count")
# plt.text(12,100000,"The bars indicate ......",bbox=dict(facecolor='lightblue',alpha =0.5))
#     #   Save Figure
# plt.savefig("Images/Tickets_per_Month.png")
#     #   Print out in the window
# plt.show()

AttributeError: Cannot access callable attribute 'loc' of 'DataFrameGroupBy' objects, try using the 'apply' method

###  Daily Count

The most popular time of the week to the employee call HRServices is...

In [ ]:
    # Slice dataframe by day of the week to find out the most popular day.
busy_day = df_ticket_cl['Creation_day_of_week'].value_counts()
    # Print out in the window
print(busy_day)
#     # Add the legend
# plt.xlabel = "Days of a week "
# plt.ylabel = "Ticket count"
# week_chart = busy_day.plot(kind = "bar" , title = " Busiest Day of the Week  ",width = 0.75,figsize = (10,5),rot = 30,alpha = 0.75)
# plt.text(6.9,190000,"XXX is the most popular day of the week.",bbox=dict(facecolor='lightblue',alpha =0.5))
#     # Save Figure
# #plt.savefig("Images/Busy_Week.png",bbox_inches = "tight")
#      # Print out in the window
# plt.show()

### Hourly Count

In this section we see that that the xxxxx hours are the most popular from xx through xxx

In [ ]:
   # Declare dataframes for the busiest hour of the day 
busy_hour = df_service_cl['Creation Time'].value_counts()
   # Print out in the window
print(busy_hour)
#    # Create the bar chart and add title, x axis label and y axis label.
# hour_chart = busy_hour.plot(kind = "bar" , title = "Busiest Hour of the Day",width = 0.75,figsize = (13,5),rot = 0,alpha = 0.75)
# hour_chart.set_xlabel("Hour of the Day")
# hour_chart.set_ylabel("Ticket Count")
# plt.text(24,80000,"xxxxxx are the peak hours.",bbox=dict(facecolor='Lightblue',alpha =0.5))
#   # Save Figure
# # plt.savefig("Images/Busy_Hour.png",bbox_inches="tight")
#   # Print out in the window
# plt.show()

### Daily and Houly Count Combined

A heatmap by week day and hour ....

In [ ]:
#   # Create an array of the days of the week 
# days_arr = ["Monday","Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"]

# # Create function that returns the correct day of the week 
# def get_day_of_week(x):
#     return days_arr[x.weekday()]

# # Use seaborn to create heat map 
# df_heat = df_service_cl.groupby(["Creation Time", "Creation_day_of_week"])["Case ID "].size().reset_index()
# df_heat2 = df_heat.pivot("Creation Time", "Creation_day_of_week", "Case ID ")
# fig, ax = plt.subplots(figsize=(10,8))       
# sns.heatmap(df_heat2[days_arr] , cmap="YlOrRd")
# plt.title("Total Number of Tickets by the Hour and Day of the Week.")

# # Save heatmap image
# # plt.savefig("Images/Hours-day.png")
# plt.show()